<div class="container">
    <form [formGroup]="jobForm" (ngSubmit)="onSubmit()" class="form">
      <h2>Formulário de Candidatura</h2>
  
      <div class="form-group">
        <label for="nome">Nome*</label>
        <input type="text" id="nome" formControlName="nome" placeholder="Seu nome completo">
        <small *ngIf="hasError('nome')" class="error">{{getErrorMessage('nome')}}</small>
      </div>
  
      <div class="form-group">
        <label for="email">Email*</label>
        <input type="email" id="email" formControlName="email" placeholder="seu@email.com">
        <small *ngIf="hasError('email')" class="error">{{getErrorMessage('email')}}</small>
      </div>
  
      <div class="form-group">
        <label for="telefone">Telefone*</label>
        <input type="tel" id="telefone" formControlName="telefone" placeholder="(00) 00000-0000">
        <small *ngIf="hasError('telefone')" class="error">{{getErrorMessage('telefone')}}</small>
      </div>
  
    <div class="form-group">
      <label for="vaga">Vaga*</label>
      <select formControlName="vaga" id="vaga">
        <option value="">Selecione uma vaga</option>
        <option *ngFor="let type of jobTypes" [value]="type">
            {{jobTitles[type]}}
        </option>
      </select>
      <small *ngIf="hasError('vaga')" class="error">{{getErrorMessage('vaga')}}</small>
    </div>
  
      <div class="form-group">
        <label for="salarioPretendido">Pretensão Salarial*</label>
        <input type="number" id="salarioPretendido" formControlName="salarioPretendido" placeholder="0.00">
        <small *ngIf="hasError('salarioPretendido')" class="error">{{getErrorMessage('salarioPretendido')}}</small>
      </div>
  
      <div class="form-group">
        <label for="linkedin">LinkedIn (opcional)</label>
        <input type="url" id="linkedin" formControlName="linkedin" placeholder="URL do LinkedIn">
      </div>
  
      <div class="form-group">
        <label for="gitHub">GitHub (opcional)</label>
        <input type="url" id="gitHub" formControlName="gitHub" placeholder="URL do GitHub">
      </div>
  
      <button 
      type="submit" 
      class="submit-button"
      [disabled]="jobForm.invalid"
      (click)="EnviarCandidatura()">
      Enviar Candidatura
      </button>  
  
  </form>
</div>